<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="map" id="board"/>
	
	<select id="selectHelpList" resultType="board">
		SELECT *
		FROM BOARD  
		WHERE BCONDITION = 'Y' AND BTYPE = 2
		ORDER BY BDATE DESC, BNO DESC
	</select>
	
	<select id="selectOneHelp" parameterType="_int" resultType="Board">
		SELECT * FROM BOARD WHERE BNO = #{bno}
	</select>
	
	
	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BTYPE = 2 AND BCONDITION = 'Y'
	</select>

	<insert id="insertBoard" >
		INSERT INTO BOARD(BNO, BTITLE, BCONTENT, BCONDITION, BDATE, BMNO, BTYPE, BPNO) 
		VALUES (SEQ_BNO.NEXTVAL, #{btitle} ,#{bcontent} , DEFAULT, DEFAULT, 1, 2, NULL)
		<!-- 전달한 board객체의 boardNo 프로퍼티에 결과값을 담는다. -->
		<selectKey keyProperty="bno" resultType="_int" order="AFTER"> 
			SELECT SEQ_BNO.CURRVAL FROM DUAL 
		</selectKey>
	</insert>


	
</mapper>
