<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<resultMap type="map" id="chatPtm"/>	
	
	<select id="selectProjectChatList" resultType="chatPtm">
		SELECT *
		FROM CHAT_PTM  
		WHERE CHPNO = #{pno}
		ORDER BY CHNO
	</select>
	
	<select id="selectChatRoomList" resultType="member">
		SELECT * FROM MEMBER WHERE MNO IN (
    		SELECT PMMNO FROM PROJECT_MEMBER WHERE PMPNO = #{pno})
	</select>
	
	<select id="selectProject" resultType="project">
		SELECT * FROM PROJECT WHERE PNO = #{pno}
	</select>
		
</mapper>
