<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<resultMap type="map" id="chatPtm"/>	
	
	<select id="selectProjectChatList" resultType="chatPtm">
		SELECT C.*, P.RENAMEDFILENAME, M.NICKNAME
		FROM CHAT_PTM C  
		JOIN MEMBER M ON(C.CHWRITER = M.MNO)
		JOIN PROFILE_IMG P ON(M.MPROFILE = P.IMGNO)
		WHERE C.CHPNO = #{pno}
		ORDER BY C.CHNO
	</select>
	
	<update id="updateProjectChatList">
		UPDATE CHAT_PTM SET CHCONDITION = 'N', CHREADERS = CHREADERS || ',' || #{mno} WHERE CHPNO = #{pno} AND CHCONDITION = 'Y'
	</update>
	
	<select id="selectChatRoomList" resultType="member">
		SELECT M.*, P.RENAMEDFILENAME FROM MEMBER M
		JOIN PROFILE_IMG P ON(M.MPROFILE = P.IMGNO)
		WHERE M.MNO IN (SELECT PMMNO FROM PROJECT_MEMBER PM WHERE PM.PMPNO = #{pno})
		ORDER BY M.MNO
	</select>
	
	<select id="selectProject" resultType="project">
		SELECT * FROM PROJECT WHERE PNO = #{pno}
	</select>
	
	<select id="selectOneChatList" resultType="chatMtm">
		SELECT C.*, P.RENAMEDFILENAME FROM CHAT_MTM C
		JOIN MEMBER M ON(C.CHREADER = M.MNO)
		JOIN PROFILE_IMG P ON(M.MPROFILE = P.IMGNO)
		WHERE C.CHPNO = #{pno} AND 
		((C.CHWRITER = #{chWriter} AND C.CHREADER = #{chReader}) OR 
		(C.CHWRITER = #{chReader} AND C.CHREADER = #{chWriter}))
		ORDER BY C.CHNO
	</select>
	
	<update id="updateOneChatList">
		UPDATE CHAT_MTM SET CHCONDITION = 'N' WHERE CHPNO = #{pno} AND (CHWRITER = #{chWriter} AND CHREADER = #{chReader}) or CHWRITER = #{chReader} AND CHREADER = #{chWriter}
	</update>
	
	<insert id="insertMtm">
		INSERT INTO CHAT_MTM VALUES(SEQ_CMMNO.NEXTVAL, #{chContent}, DEFAULT, DEFAULT, #{chWriter}, #{chReader}, #{chPno})
	</insert>
	
	<insert id="insertPtm">
		INSERT INTO CHAT_PTM VALUES(SEQ_CPMNO.NEXTVAL, #{chContent}, DEFAULT, DEFAULT, #{chWriter}, #{chWriter}, #{chPno})
	</insert>
	
	<select id="selectOneFileName" resultType="string">
		SELECT RENAMEDFILENAME FROM PROFILE_IMG WHERE
		IMGNO = (SELECT MPROFILE FROM MEMBER WHERE MNO = #{chReader})
	</select>

	<select id="selectOneYourName" resultType="string">
		SELECT NICKNAME FROM MEMBER WHERE MNO = #{chReader}
	</select>
	
	<select id="selectOneChatPtm" resultType="string">
		SELECT COUNT(*) FROM CHAT_PTM WHERE CHPNO = #{pno} AND CHCONDITION = 'Y'
	</select>
	
	<select id="selectPtmLastChat" resultType="string">
		SELECT * FROM (SELECT CHCONTENT FROM CHAT_PTM WHERE CHPNO = #{pno} ORDER BY CHNO DESC) WHERE ROWNUM = 1
	</select>
	
	<select id="selectMtmLastChat" resultType="string">
		SELECT * FROM (SELECT CHCONTENT FROM CHAT_MTM WHERE 
		(CHWRITER = #{me} AND CHREADER = #{you}) OR (CHWRITER = #{you} AND CHREADER = #{me})
		ORDER BY CHNO DESC) WHERE ROWNUM = 1
	</select>
</mapper>
