<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matching">

	<select id="browseMember" parameterType="_int" resultType="Member">
	SELECT MNO,NICKNAME FROM 
	MEMBER JOIN PROJECT_MEMBER 
	ON(PMMNO = MNO) WHERE PMPNO = #{pno}
	</select>
	
	<insert id="insertMatching" parameterType="Matching">
	INSERT INTO SCHEDULE_MATCHING VALUES
				(SEQ_SMNO.NEXTVAL, #{smcontent}, #{smdate}, #{smenddate}, DEFAULT)
	</insert>
	
	<insert id="insertMember" parameterType="_int">
	INSERT INTO SCHEDULE_JOIN VALUES
				(#{mno} ,SEQ_SMNO.CURRVAL)
	</insert>
	
	
	<insert id="insertMatchingDT" parameterType="Join" >
	INSERT INTO  MEMBER_MATCHGIN VALUES
	(#{sjmno}, #{sjsm}, #{sjdtno})
	</insert>
</mapper>





