<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matching">

	<resultMap id="resultJoin" type="Join">
		<id property="sjmno" column="MMMNO" />
		<result property="sjsm" column="MMSMNO" />
		<result property="sjdtno" column="MMDTNO" />
	</resultMap>
	
	<resultMap id="task2" type="Task">
		<id property="tno" column="TNO"/>
		<result property="ttitle" column="TTITLE"/>
		<result property="tcontent" column="TCONTENT"/>
		<result property="twriter" column="TWRITER"/>
		<result property="twritedate" column="TWRITEDATE"/>
		<result property="fno" column="FNO"/>
		<result property="foldName" column="FOLDNAME"/>
		<result property="fnewName" column="FNEWNAME"/>
	</resultMap>
	
	<select resultType="Member" parameterType="_int" id="browseMember"> 
	SELECT MNO,NICKNAME FROM MEMBER JOIN PROJECT_MEMBER ON(PMMNO = MNO) 
	WHERE PMPNO = #{pno} 
	</select>
	
	<insert parameterType="Matching" id="insertMatching">
	 INSERT INTO SCHEDULE_MATCHING VALUES 
	 (SEQ_SMNO.NEXTVAL, #{smcontent}, #{smdate}, #{smenddate}, DEFAULT)
	 </insert>
	 
	 <insert parameterType="_int" id="insertMember">
	 INSERT INTO SCHEDULE_JOIN VALUES (#{mno} ,SEQ_SMNO.CURRVAL)
	 </insert>
	 
	 <insert parameterType="_int" id="insertMySelf">
	 INSERT INTO SCHEDULE_JOIN VALUES (#{mno} ,SEQ_SMNO.CURRVAL)
	 </insert>
	 
	 <insert parameterType="Join" id="insertMatchingDT">
	  INSERT INTO MEMBER_MATCHING VALUES (#{sjmno}, #{sjsm}, #{sjdtno})
	 </insert>
	 
	 <select resultType="MatchingInfo" parameterType="_int" id="browseMatchingInfo">
	 SELECT SMNO, SMCONTENT, SMDATE, SMENDDATE, SSNO, SJMNO
	 FROM SCHEDULE_MATCHING
	 JOIN SCHEDULE_JOIN ON(SMNO = SJSM)
	 WHERE SJMNO = #{mno}
	 </select>
	 
	 <select id="browseDT" resultMap="resultJoin">
	 SELECT MMDTNO FROM MEMBER_MATCHING
	 WHERE MMMNO = #{mNo} AND MMSMNO = #{requestNo}
	 </select>
	 
	 <select id="isClicked" resultType="_int" parameterType="map">
	 SELECT COUNT(*) FROM MEMBER_MATCHING
	 WHERE MMMNO = #{mNo} AND MMSMNO = #{requestNo} AND MMDTNO = #{dtNo}
	 </select>
	 
	 <delete id="deleteDT" parameterType="map">
	 DELETE FROM MEMBER_MATCHING
	 WHERE MMMNO = #{mNo} AND MMSMNO = #{requestNo} AND MMDTNO = #{dtNo}
	 </delete>
	 
	 <select id="browseResult" parameterType="map" resultType="_int">
	 SELECT COUNT(*) FROM MEMBER_MATCHING
	 WHERE MMSMNO = #{requestNo} AND MMDTNO = #{i}
	 </select>
	 
	 <select id="countMember" resultType="_int" parameterType="_int" >
	 SELECT COUNT(*) FROM SCHEDULE_JOIN
	 WHERE SJSM = #{requestNo}
	 </select>
	 
	 <select id="fileList" resultMap="task2">
	 SELECT TNO, TTITLE, TCONTENT, TWRITER, TWRITEDATE, FNO, FOLDNAME, FNEWNAME
	 FROM TASK
	 JOIN TASK_FILE ON(FTNO = TNO)
	 WHERE TPNO = TO_NUMBER(#{pno})
	 ORDER BY TWRITEDATE DESC, TNO DESC
	 </select>
	 
	 <select id="fileTotalContents" resultType="_int">
	 SELECT COUNT(*) FROM TASK_FILE
	 JOIN TASK ON(FTNO = TNO AND TPNO = #{pno})
	 </select>
	 
	 <select id="browseMatchingMember" resultType="Member">
	 SELECT NICKNAME
	 FROM MEMBER
	 JOIN SCHEDULE_JOIN ON(SJMNO =MNO)
	 WHERE SJSM = #{pno}
	 </select>
	 
	 
</mapper>