<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="map" id="member"/>

	<insert id="insertFile"> INSERT INTO PROFILE_IMG VALUES (SEQ_IMGNO.NEXTVAL, DEFAULT, DEFAULT, DEFAULT, DEFAULT) </insert>
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES (
			SEQ_MNO.NEXTVAL, #{userId}, #{password}, #{email}, #{nickName}, 
			DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="checkIdDuplicate" statementType="CALLABLE" parameterType="hashmap">
		{ CALL ID_DUP_CHK(
			#{userId, mode=IN, jdbcType=VARCHAR},
			#{result, mode=OUT, jdbcType=NUMERIC,
			  javaType=integer}
			)
		}
	</select>
	
	<select id="checkEmailDuplicate" statementType="CALLABLE" parameterType="hashmap">
		{ CALL EMAIL_DUP_CHK(
			#{email, mode=IN, jdbcType=VARCHAR},
			#{result, mode=OUT, jdbcType=NUMERIC,
			  javaType=integer}
			)
		}
	</select>
	
	<select id="loginMember" parameterType="string" resultType="Member">
		SELECT M.*, P.RENAMEDFILENAME FROM MEMBER M
		JOIN PROFILE_IMG P ON (M.MPROFILE = P.IMGNO)
		WHERE USERID = #{userId}
	</select>
	
    <select id="member.searchId" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER 
		WHERE EMAIL = #{email}

	</select>
	
	<select id="selectMemberList" resultType="member">
		SELECT *
		FROM MEMBER
		ORDER BY MNO
	</select>
	
	<select id="selectMemberTotalContents" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>

	<delete id="deleteMember" parameterType="_int">
		DELETE FROM MEMBER WHERE MNO = #{mno}
	</delete>
	

	<update id="memberNewPw" parameterType="Member" >
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE EMAIL = #{email}
	</update>

	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET NICKNAME = #{nickName},
		EMAIL = #{email},
		PASSWORD = #{password}
		WHERE USERID = #{userId}
	</update>
	
	<delete id="withdrawMember" parameterType="string">
		DELETE FROM MEMBER WHERE USERID = #{userId}
	</delete>
	

	<select id="selectOneNickname" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER 
		WHERE NICKNAME = #{nickname}

	</select>
	
	<select id="selectAttach" resultType="Attachment_profile">
		SELECT * FROM PROFILE_IMG
		WHERE IMGNO = (SELECT MPROFILE FROM MEMBER 
		               WHERE MNO= #{mno})
	</select>
	
	<update id="updateAttachment" parameterType="Attachment_profile">
	UPDATE PROFILE_IMG
	SET ORIGINALFILENAME =#{originalFileName}, RENAMEDFILENAME=#{renamedFileName}
	WHERE IMGNO=#{imgNo}
	</update>
		 
	<select id="selectOneMno" resultType="Member"> SELECT * FROM MEMBER WHERE MNO = #{mno} </select>

	
</mapper>
