<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memo">
	<select id="selectMemoList" resultType="memo">
		select mmcontent from memo 
		where mmpno = #{pno} and mmmno = #{mno}
	</select>
	
<!-- 	<select id="selectOneMemo" resultType="memo">
		select mmcontent from memo where mmpno = #{mmpno} and mmmno = #{mmno}
		select mmcontent from memo where mmpno = #{pno} and mmmno = #{mno}
	</select>
	 -->
	<update id="updateMemo">
		update memo set mmcontent = #{saveMemo}
		where mmpno = #{pno} and mmmno = #{mno}
		<!-- where mmpno = #{mmpno} and mmmno = #{mmmno} -->
	</update>
	<!-- <insert id="insertMemo">
		insert into memo values(seq_memono.nextval, #{memo}, #{password}, default)
	</insert>
	
	<delete id="deleteMemo">
  		delete from memo where memono = #{no} and password = #{password}
 	</delete> -->
</mapper>