<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">
	<resultMap type="map" id="project"/>
	
	
	<select id="selectProjectList"  parameterType="_int" resultType="project">
		<!-- SELECT * FROM PROJECT ORDER BY PNO DESC -->
		SELECT * FROM PROJECT WHERE PNO IN (SELECT PMPNO FROM PROJECT_MEMBER WHERE PMMNO = #{mno}) ORDER BY pno DESC
	</select>
	
	<select id="selectOneProjectLv"  parameterType="_int" resultType="project">
		<!-- SELECT * FROM PROJECT ORDER BY PNO DESC -->
		SELECT * FROM PROJECT_LEVEL WHERE LPNO = #{pno}+1
	</select>
	
	<select id="selectOneProject" parameterType="_int" resultType="project">
		SELECT * FROM PROJECT WHERE PNO = #{pno}
	</select>
	
	<insert id="insertProject">
		 INSERT INTO PROJECT VALUES
		(SEQ_PNO.NEXTVAL, #{ptitle}, #{psummary}, #{plevel}, DEFAULT, #{pmmno})
	</insert>
	<insert id="insertProjectLv" parameterType="java.util.List">
	INSERT ALL
		<if test="list != null">
			<foreach collection="list" item="item">		 
			 INTO PROJECT_LEVEL VALUES
			(SEQ_PNO.NEXTVAL, #{item.lno}, #{item.lname}, DEFAULT)	
			</foreach>
		</if>
	SELECT * FROM DUAL
	</insert>
	
	<update id="updateLevelCk">
		UPDATE PROJECT SET PLEVELCK = #{plevelck} WHERE PNO = #{pno}
	</update>
	
	<update id="updateOneLevelCk">
			UPDATE PROJECT_LEVEL SET LCHECK = 'Y'
		  	WHERE LPNO = #{lpno}+1 AND LNO = #{lno}
	</update>
	<update id="updateOneLevelunCk">
			UPDATE PROJECT_LEVEL SET LCHECK = 'N'
		  	WHERE LPNO = #{lpno}+1 AND LNO = #{lno}
	</update>
	
	<update id="updateProject">
		 UPDATE PROJECT SET 
		 PTITLE = #{ptitle}, PSUMMARY = #{psummary}
		 WHERE PNO = #{pno}
	</update>
	<update id="updateProjectLv" >
		UPDATE PROJECT_LEVEL SET
		 LNAME = #{lname}
	  	 WHERE LPNO = (#{lpno} + 1) AND LNO = #{lno}
	</update>
		
	
		
	<select id="selectProjectIntoMember" resultType="member">
		SELECT * FROM MEMBER WHERE MNO IN (
    		SELECT PMMNO FROM PROJECT_MEMBER WHERE PMPNO = #{pno})
	</select>
	
	<delete id="deleteLeaveProject">
		DELETE FROM PROJECT_MEMBER WHERE PMPNO = #{pno} AND PMMNO = #{mno}
	</delete>
	
	<select id="selectAlarmList" resultType="alarm">
		SELECT * FROM ALARM WHERE AMNO = #{mno} AND ACONDITION = 'Y'
	</select>

	<delete id="deleteProject">
		DELETE FROM PROJECT WHERE PNO = #{pno}
	</delete>

	<select id="selectSearchMember" resultType="member">
		SELECT M.*, P.RENAMEDFILENAME FROM MEMBER M
		JOIN PROFILE_IMG P ON (M.MPROFILE = P.IMGNO)
		WHERE NICKNAME LIKE '%' || #{userNick} || '%'
	</select>
	
	<insert id="insertInviteProject">
		 INSERT INTO PROJECT_MEMBER VALUES(#{pno},#{mno}, 'N')
	</insert>
	
	<select id="searchMemberList" resultType="member">
		SELECT M.*, P.RENAMEDFILENAME FROM MEMBER M
		JOIN PROFILE_IMG P ON (M.MPROFILE = P.IMGNO)
		WHERE MNO IN (SELECT PMMNO FROM PROJECT_MEMBER WHERE PMPNO = #{pno})
	</select>
	
	<select id="selectSearchPM" parameterType="_int" resultType="ProjectMember">
		SELECT * FROM PROJECT_MEMBER WHERE PMPNO = #{pno} AND PMMNO = #{mno}
	</select>
	
	<insert id="insertExileAlarm">
		 INSERT INTO ALARM VALUES(SEQ_ANO.NEXTVAL, '프로젝트에서 추방당했습니다.', DEFAULT, 4, #{mno}, #{pno}, NULL, NULL, NULL)
	</insert>
	
	<insert id="insertLeaveAlarm">
		 INSERT INTO ALARM VALUES(SEQ_ANO.NEXTVAL, '프로젝트에서 나갔습니다.', DEFAULT, 3, #{mno}, #{pno}, NULL, NULL, #{apmno})
	</insert>
</mapper>
