<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="task">
	<resultMap type="map" id="task"/>
	
	<select id="selectTaskTotalContents" resultType="_int">
		SELECT COUNT(*) FROM TASK
	</select>
	
	<insert id="insertTask">
		INSERT INTO TASK(TNO, TLEVEL, TMNO, TENDDATE, TTPRIORITY,
			TTITLE, TCONTENT, TSTARTDATE, TWRITER)
		VALUES (SEQ_TNO.NEXTVAL, #{tlevel}, #{tmno}, TO_DATE(#{tenddate},'MM/DD/RRRR'), #{ttpriority},
		#{ttitle}, #{tcontent}, TO_DATE(#{tstartdate},'MM/DD/RRRR'), #{twriter})
		<selectKey keyProperty="tno" resultType="_int"
			order="AFTER">
			SELECT SEQ_TNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		<!-- 다른방식 -->
		INSERT INTO TASK_FILE(FNO, FOLDNAME, FNEWNAME, FPATH, FTNO)
		VALUES (SEQ_FNO.NEXTVAL,
		#{foldname}, #{fnewname}, #{fpath}, #{ftno})
		<!-- <selectKey keyProperty="fno" resultType="_int"
			order="BEFORE">
			SELECT SEQ_FNO.CURRVAL FROM DUAL
		</selectKey> -->
	</insert>
</mapper>