<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="task">
	<resultMap type="map" id="task"/>
	
	<resultMap type="Task" id="taskandattach">
		<id  property="tno"  column="TNO"/>
		<result property="tlevel" column="TLEVEL" />
		<result property="tmno" column="TMNO" />
		<result property="tenddate" column="TENDDATE" />
		<result property="ttpriority" column="TTPRIORITY" />
		<result property="ttitle" column="TTITLE" />
		<result property="tcontent" column="TCONTENT" />
		<result property="tstartdate" column="TSTARTDATE" />
		<result property="twriter" column="TWRITER" />
		<result property="tpno" column="TPNO" />
		<result property="twritedate" column="TWRITEDATE" />
		<collection property="taskFiles" ofType="Attachment" resultMap="resultAttachment"/>
	</resultMap>
	
	<resultMap id="resultAttachment" type="Attachment">
		<id property="fno" column="FNO"/>
		<result property="foldname" column="FOLDNAME"/>
		<result property="fnewname" column="FNEWNAME"/>
		<result property="fpath" column="FPATH"/>
		<result property="ftno" column="FTNO"/>
	</resultMap>
	
	<sql id="selectAttachmentSQL">
		
	</sql>
	
	<select id="selectTaskTotalContents" resultType="_int">
		SELECT COUNT(*) FROM TASK
	</select>
	
	<insert id="insertTask">
		INSERT INTO TASK(TNO, TLEVEL, TMNO, TENDDATE, TTPRIORITY,
			TTITLE, TCONTENT, TSTARTDATE, TWRITER, TPNO, TWRITEDATE)
		VALUES (SEQ_TNO.NEXTVAL, #{tlevel}, #{tmno}, TO_DATE(#{tenddate},'MM/DD/RRRR'), #{ttpriority},
		#{ttitle}, #{tcontent}, TO_DATE(#{tstartdate},'MM/DD/RRRR'), #{twriter}, #{tpno}, SYSDATE)
		<selectKey keyProperty="tno" resultType="_int"
			order="AFTER">
			SELECT SEQ_TNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		<!-- 다른방식 -->
		INSERT INTO TASK_FILE(FNO, FOLDNAME, FNEWNAME, FPATH, FTNO)
		VALUES (SEQ_FNO.NEXTVAL,
		#{foldname}, #{fnewname}, #{fpath}, #{ftno})
		<!-- <selectKey keyProperty="fno" resultType="_int"
			order="BEFORE">
			SELECT SEQ_FNO.CURRVAL FROM DUAL
		</selectKey> -->
	</insert>
	
 	
	<select id="selectOneTask" resultType="task">
		SELECT *
		FROM TASK
		WHERE TNO = #{tno}
	</select> 
	
	<select id="selectTaskList" parameterType="_int" resultMap="taskandattach">
	SELECT * FROM TASK
	LEFT JOIN TASK_FILE ON(TASK.TNO = TASK_FILE.FTNO)
	JOIN PROJECT ON(TASK.TPNO = PROJECT.PNO)
	WHERE PNO = #{pno}
	ORDER BY TWRITEDATE DESC
	</select>
	
	<select id="selectOneAttachment" resultType="attachment">
	SELECT * FROM TASK_FILE
	WHERE FTNO = #{tno}
	</select>
	
	<update id="updateTask">
		UPDATE TASK
		SET TLEVEL = #{tlevel},
			TENDDATE = TO_DATE(#{tenddate},'MM/DD/RRRR'),
			TTPRIORITY = #{ttpriority},
			TTITLE = #{ttitle},
			TCONTENT = #{tcontent},
			TSTARTDATE = TO_DATE(#{tstartdate},'MM/DD/RRRR')
		WHERE TNO = #{tno}
	</update>
	
</mapper>