<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.kh.dp.member.model.vo.Member"
		         alias="Member"/>
		<typeAlias type="com.kh.dp.intro.board.model.vo.Board"
		         alias="Board"/>
        <typeAlias type="com.kh.dp.project.model.vo.Project"
				alias="Project"/>
		<typeAlias type="com.kh.dp.side.model.vo.Matching"
				 alias="Matching"/>
		<typeAlias type="com.kh.dp.side.model.vo.Join"
				 alias="Join"/>
		<typeAlias alias="Memo" type="com.kh.dp.project.model.vo.Memo"/>
		<typeAlias type="com.kh.dp.chat.model.vo.ChatPtm"
				alias="ChatPtm" />
		<typeAlias type="com.kh.dp.project.model.vo.Project"
				alias="Project" />
	</typeAliases>
	
	
</configuration>










